* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.position {
	position: absolute; /*× relative*/
	right: 40px;
	top: 100px;
}


div i {
	font-size: 32px;
}
/*セレクタは.fabでよい*/
